body {
    background-color: rgb(244, 191, 92);
    color: rgb(26, 183, 214)
    
}

.character {
    border: 1px solid #22c9ce;
    margin: 10px;
    padding: 10px;

}

.character img {
    max-width: 100px;
    max-height: 100px;
}

#displayButton {
    padding: 8px;
    margin: 10px;
    background-color: rgb(36, 165, 216);
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
}

p {
    font-size: 125%;
}

h1 {
    text-align: center;
}
